*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(0,0, 33);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.1rem;
}
.left{
    font-size: 1.5rem;
    text-align: center;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    align-items: center;
}
.firstSection >div{
    width: 30%;
}
.leftSection{
    font-size: 3rem;
}
.leftSection .buttons{
    padding: 23px;

}
.leftSection .btn{
    padding: 12px;
    background-color: rgb(55, 7, 100);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

}
.rightSection div{
    background-color: rgb(55, 7, 100);
    border: 1px solid blueviolet;
    border-radius:10px;
    margin: auto;
    padding: 50px;
    font-size: 1.5rem;
    
}
.rightSection .buttons{
    padding: 23px; 

}
.rightSection .btn{
    margin: 7px;
    padding: 12px;
    background-color: rgb(0,0, 33);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.rightSection .btn a{
    color: white;
    text-decoration: none;
}
.purple{
    color: blueviolet;
}
#element{
    color: blueviolet;
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
main hr{
    border: 0;
    background-color: blueviolet;
    height: 1.2px;
    margin: 40px 84px ;
}
.secondSection h1{
    font-size: 1.9rem;
}
.text-gray{
    color: gray;
}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 160px ;
}
.vertical-title{
    position: relative;
    top: 100px;
    width: 150px;
    font-size: 14px;
}
.vertical-desc{
    position: relative;
    top: 110px;
    color: gray;
    width: 150px;
    font-size: 9px;
}
footer{
    background-color: rgb(67, 16, 116);
    /* height: 233px; */
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    text-align: center;
}
.footer ul{
    list-style: none;
}
.footer div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
}

.certificates >div{
    display: flexbox;
    justify-content: space-around;
    margin: 50px 0;
    align-items: center; 
    width: 30%;
}

.certificates img{
    padding: 50px;
    border: 1px solid blueviolet;
    margin-left: 290px;
    height: 75vh;

}

.certificates h1{
    font-size: 1.9rem;
}
.text-gray{
    color: gray;
}

.certificates .certificate-header{
    max-width: 80vw;
    margin-left: 130px;
}
.certificates .CertificateDesc{
    padding-top: 10px;
    margin-left: 350px ;
}